{% extends 'base.html' %}

{% block main %}
    <div class="container h-100">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Django Chat</h1>
            <p>
                Welcome, to this simple chat application. Here you can chat with other registered users
                on a public chat and privately with each of them.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eum, sit nisi quos dolorem,
                dolor odit fuga pariatur omnis placeat deserunt consectetur perspiciatis error nulla at
                eveniet tempora quisquam quod! Dolorem aliquid doloribus alias tempore, esse labore
                dicta non aperiam placeat veritatis eius perspiciatis consequuntur debitis,
                voluptatum saepe maxime nam?
            </p>
            <p>
                Praesent nec convallis risus. Praesent aliquam lacus orci, ac pulvinar turpis blandit eget.
                Integer risus erat, efficitur in justo at, molestie dignissim nisl. Phasellus tincidunt convallis
                diam quis gravida. Vestibulum viverra dignissim sagittis. Maecenas eu luctus ligula, quis tristique purus.
                Fusce varius tellus odio, sit amet venenatis erat scelerisque ac. In cursus eros nec metus pharetra mollis.
            </p>
            <div class="mt-5">
                <a class="btn btn-primary btn-lg" href="#">Click here to start</a>
            </div>
        </div>
    </div>
{% endblock %}