{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="jumbotron mb-5" id="login-jumbotron">
                <h1 class="display-4">Login</h1>
                <div class="row mt-5">
                   <div class="col-md-12">
                        <form method="POST">
                            {% csrf_token %}
                            {{ login_form|crispy }}

                            <p><a href="{% url 'register' %}">Don't have an account? Register</a></p>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>
                   </div>
                </div>
           </div>
        </div>
    </div>
{% endblock  %}