{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/private_chat.css' %}">
{% endblock  %}

{% block main %}
    <div class="container">
       <div class="jumbotron mt-5 mb-5">
            <h1 class="display-4">Private Chat</h1>
            <div class="row mt-5">
                <div class="col-md-3" id="chat-sidebar">
                    <div class="row">
                        {% for user in users %}
                            <div class="col-md-12 d-flex">
                                <div class="d-flex justify-content-center align-items-center user-avatar-div">
                                    <img src="{% static 'images/default-profile-image.png' %}" alt="default-profile-image">
                                </div>
                                <div class="username-div">
                                    <a href="#">
                                        <p class="user user-{{ user.id }}">{{ user.username }}</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9" id="chat-box">
                    <div class="row" id="messages-div">

                    </div>
                </div>
                <div class="col-md-12 d-flex" id="chat-form">
                    <form id="private-chat-form">
                        <div id="warning-div"></div>
                        {% csrf_token %}

                        <textarea name="message" id="message" class="form-control"></textarea>
                        <input class="btn btn-primary mt-3 float-right" type="submit" value="Send">
                    </form>
                </div>
            </div>
       </div>
    </div>
{% endblock  %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const profileImage = "{% static 'images/default-profile-image.png' %}";
        const privateChatApiUrl = "{% url 'private-chat-api-list' %}";
        const loggedinUserId = "{{ user.id }}";
        let otherUserId = "{{ users.last.id }}";
        let otherUserUsername = "{{ users.last.username }}";
    </script>
    <script src="{% static 'javascript/private_chat.js' %}"></script>
{% endblock  %}