{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/public_chat.css' %}">
{% endblock  %}

{% block main %}
    <div class="container">
       <div class="jumbotron mt-5 mb-5">
            <h1 class="display-4">Public Chat</h1>
            <div class="row mt-5">
                <div class="col-md-12" id="chat-box">
                    <div class="row" id="messages-div">

                    </div>
                </div>
                <div class="col-md-12 d-flex" id="chat-form">
                    <form id="public-chat-form">
                        <div id="warning-div"></div>
                        {% csrf_token %}

                        <textarea name="message" id="message" class="form-control"></textarea>
                        <input class="btn btn-primary mt-3 float-right" type="submit" value="Send">
                    </form>
                </div>
            </div>
       </div>
    </div>
{% endblock  %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const publicChatApiUrl = "{% url 'public-chat-api-list' %}";
        const profileImage = "{% static 'images/default-profile-image.png' %}";
        const userId = "{{ user.id }}"
    </script>
    <script src="{% static 'javascript/public_chat.js' %}"></script>
{% endblock  %}